---
title: Somewhere
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Quinoaa.moe</title>
    <link rel="stylesheet" href="/style/base.css">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/"><img src="/assets/icon.png" alt="ika"><span>Quinoaa</span></a>
        <span class="header-spacing"></span>
        <a href="/projects"><span>Projects</span></a>
        <a href="/posts"><span>Posts</span></a>
    </header>
    <div>
        {{content | safe}}
    </div>
    <footer>
        Quinoaa.moe ❤️ <a href="/contact">contact</a>
    </footer>
</body>
</html>