body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    a {
        color: blue;
        text-decoration: none;
    }

    > header {
        border-bottom: thin solid;
        flex-grow: 0;
        padding: 0;
        display: flex;
        gap: 1em;

        > span {
            flex-grow: 1;
        }

        > * {
            height: 2em;
            display: flex;
            align-items: center;
            gap: .5em;

            > img {
                height: 100%;
            }
        }
    }

    > * {
        margin: auto;
        width: 70ch;
        flex-grow: 1;
        box-sizing: border-box;
    }

    > footer {
        border-top: thin solid;
        flex-grow: 0;
        padding: .5em 1em;
    }
}